html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #081826;
  }

  header{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #menu_bar {
      display: none;
  }

  label {
      position: fixed;
      top: 4%;
      right: 2%;
      display: block;
      width: 40px;
      height: 30px;
      cursor: pointer;
      z-index: 9999;
  }

  label:before {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

  label div {
      position: relative;
      top: 0;
      height: 7px;
      /* 임시방편 */
      /* background-color: #fff; */
      background-color: #E19E20;
      margin-bottom: 7px;
      transition: transform 0.4s,background-color 0.5s;
      border-radius: 2px;
  }

  label div:first-child {
      transform-origin: 0;
  }

  label div:last-child {
      margin-bottom: 0;
      transform-origin: 40px;
  }

  label div:nth-child(2) {
      right: 0;
      width: 40px;
  }
  
  #menu_bar:checked+label div:first-child {
    top: -6px;
    transform: rotateZ(45deg);
  }
  
  #menu_bar:checked+label div:last-child {
    top: 6px;
    transform: rotateZ(45deg);
  }
  
  #menu_bar:checked+label div:nth-child(2) {
    width: 58px;
    top: 0;
    right: 9px;
    transform: rotateZ(-45deg);
  }

  #menu_bar:checked+label div{
    background-color: #081826;
  }

  #menu_bar:hover+label div{
    background-color: #081826;
  }
  
  #menu_bar:checked~#blind{
    display: inline-block;
    animation-name: fadein;
  }

  #menu_bar:checked~.menu__bar__frame{
    transform: translateX(-30vw);
  }

  #menu_bar:hover~.menu__bar__frame__mini{
    transform: translateX(-6vw);
  }
  
  .menu__bar__frame, .menu__bar__frame__mini{
    position: absolute;
    height: 100%;
    /* background-color: #344353; */
    background-color: #D7F3FF;

    transition: transform 0.3s ease-in-out;
    z-index: 9998;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-image: linear-gradient(to right top, #344353, #596b7b, #8096a5, #aac4d1, #d7f3ff); */
  }
  
  .menu__bar__frame{
    width: 30vw;
    right: -30vw;
  }
  
  .menu__bar__frame__mini{
    width: 6vw;
    right: -6vw;
  }
  
  .menu__bar__frame__mini:hover{
    transform: translateX(-6vw);
  }

  .menu__bar__frame__mini:hover+.menu__bar > div{
    background-color: 081826;
  }
  
  .main__title {
    display: flex;
    justify-content: space-around;
    color: #D7F3FF;
    font-family: 'Noto Sans KR', sans-serif;
    align-items: center;
    width: 100%;
    height: 100vh;

  }

  .main__title__Slogan,
  .main__title__logo,
  .main__title__name {
    flex: 1;
    text-align: center;
    font-weight: 800;
    text-shadow: 5px 5px 0px #E19E20;

    /* background-color: brown;
    border: 3px solid green; */
  }

  .main__title__Slogan {
    text-align: left;
    font-size: 75px;
  }

  .main__title__logo {}

  .main__title__logo>img {
    width: 500px;
    filter: drop-shadow(10px 17px 0px #E19E20);
  }

  .main__title__logo>img:active{
    margin-top: 20px;
    filter: none;
  }

  .main__title__name {
    /* text-align: left; */
    font-size: 85px;
  }