html, body {
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
    background-color: #081826;
  }

  body{
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
  }

  a{
    text-decoration: none;
  }